@page "/fetchdata"
@using OptionStrikes.Entities
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Option Chains</h1>

@if (yahooResponse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Call options for @yahooResponse?.OptionChain?.Result?[0].Quote?.Symbol | Last price: @yahooResponse?.OptionChain?.Result?[0].Quote?.RegularMarketPrice</p>
    <RadzenDataGrid Data="@options" TItem="ExpirationOption" >
        <Columns>
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallVolume" Title="Volume"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallOpenInterest" Title="OI"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallLastPrice" Title="Last"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallChange" Title="Change"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallBid" Title="Bid"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="CallAsk" Title="Ask"  />

            <RadzenDataGridColumn TItem="ExpirationOption" Property="Strike" Title="Strike"  />

            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutBid" Title="Bid"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutAsk" Title="Ask"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutLastPrice" Title="Last"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutChange" Title="Change"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutVolume" Title="Volume"  />
            <RadzenDataGridColumn TItem="ExpirationOption" Property="PutOpenInterest" Title="OI"  />
       </Columns>
    </RadzenDataGrid>
}

@code {
    private YahooOptionsResponse? yahooResponse;
    private List<ExpirationOption>? options;

    protected override async Task OnInitializedAsync()
    {
        var request = new YahooOptionsRequest("AAPL", 1642723200);
        yahooResponse = await Http.GetFromJsonAsync<YahooOptionsResponse>(request.Url);

        options = yahooResponse?.OptionChain?.OptionsChain;
    }
}
